
:root {
		--white: hsl(0, 0%, 100%);
		--black: hsl(0, 0%, 0%);
		--softRed: hsl(7, 99%, 70%);
		--yellow: hsl(51, 100%, 49%);
		--darkDesaturatedCyan: hsl(167, 40%, 24%);
		--seaGreen: hsl(198, 62%, 26%);
		--darkModerateCyan: hsl(168, 34%, 41%);
		--palegreen: hsl(168, 40%, 70%);
		--verydarkdesaturatedblue: hsl(212, 27%, 19%);
		--verydarkgrayishblue: hsl(213, 9%, 39%);
		--darkgrayishblue: hsl(232, 10%, 55%);
		--grayishblue: hsl(210, 4%, 67%);
		--red: hsl(0, 100%, 74%); 
		--green: hsl(154, 59%, 51%);
		--blue: hsl(248, 32%, 49%);
		--darkBlue: hsl(249, 10%, 26%);
		--grayisBlue: hsl(246, 25%, 77%);
		--shadow: hsla(0, 0%, 1%, 0.212);
}

